@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
}

.bg-primary {
  background-color: #232c33;
}

.bg-secondary {
  background-color: #191f24;
}

.text-secondary {
  color: #aba194;
}

.bg-primary-button {
  background-color: #bc96e6;
}

.bg-secondary-button {
  background-color: #aafcb8;
}

.border-custom-color {
  border-color: #8ba0af;
}
